<div class="container">
  <div class="row">
    <% @works.each do |w| %>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <%= image_tag w.image, :class => "card-img-top"%>
          <div class="card-body">
            <h2 class="card-title"><%= w.title %></h2>
            <p class="card-text"><%= w.price %> $</p>
            <%= link_to "View this", work_path(w), :class => "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

