<div class="container">
  <div class="row">
    <div class="col">Manage works</div>
    <div class="col">Manage users</div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with do %>
      <% end %>
    </div>
    <div class="col">
      <%= form_with do %>
      <% end %>
    </div>
  </div>
</div>