<div class="container">
  <p class='ROR'>Learning Rails Framework Fastly!!!!!</p>
    <p class='ROR'>Working fastly as can. Pay me many many babloys za raboty pidr)</p>
    <%= link_to 'See my Works -->', '/works', :class => "btn btn-primary btn-lg btn-block" %>
</div>