<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <figure class="figure">
        <%= image_tag 'https://bigpicture.ru/wp-content/uploads/2018/11/219.jpg', :class => "figure-img img-fluid rounded" %>>
        <figcaption class="figure-caption">That me).</figcaption>
      </figure>
    </div>
    <div class="col-4">
      <pre><code>
        &lt;div class="Vvajna enfa"&gt;
          &lt;p&gt; --- Kontaktu vnizy --- &lt;/p&gt;
          &lt;p&gt; Esli chto - pishute =) &lt;/p&gt;
        &lt;/div&gt;
      </code></pre>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-4">
      Email: breinkiller650@gmail.com
    </div>
    <div class="col-4">
      *
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-4">
      *
    </div>
    <div class="col-4">
      *
    </div>
  </div>
</div>

