<div class="contact_back">
  <div class="contact_form">
    <div class="cell-title"><div><strong>Обратная связь</strong></div></div>
    <div class="clean"></div>

      <table border="0" width="100%" id="table1" cellspacing="1" cellpadding="2">
        <tr><td width="35%">Sender's name <font color="red">*</font>:</td><td><input type="text" name="f4" size="30" style="width:95%;" maxlength="70"></td></tr>
        <tr><td>Sender's email <font color="red">*</font>:</td><td><input type="text" name="f1" size="30" style="width:95%;" maxlength="70"></td></tr>
        <tr><td>Message subject:</td><td><input type="text" name="f2" size="30" style="width:95%;" maxlength="70"></td></tr>
        <tr><td valign="top">Message text <font color="red">*</font>:</td><td><textarea rows="7" name="f3" cols="30" style="width:95%;"></textarea></td></tr>
        <tr><td>Site rating:</td><td><select name="f6"><option>Excellent</option><option>Good</option><option>Not bad</option><option>Bad</option><option>Awful</option></select></td></tr>

        <tr><td colspan="2" align="center"><br /><input type="submit" value="Send message"></td></tr>
      </table>
  </div>
</div>