<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- 1 colon -->
    </div>
      <div class="col-sm">
        <div class="contact_back">
          <div class="contact_form">
            <div class="cell-title"><div><strong>Back source</strong></div></div>
            <div class="clean"></div>
            <%= form_with do %>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Your name</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Subject</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Message text</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-group">
                <%= link_to "Send message!", sent_path, :class => "btn btn-success" %>
              </div>
            <% end %>
          </div>
          <br>
        </div>
        <br>
    </div>
    <div class="col-sm">
      <!-- 3 colon -->
    </div>
  </div>
</div>